.Pagina-consultar{
    header{
        background: #111112;
        height: 70px;
        
    }
    
    main{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
    }
    
    .conteudo-header{
        display: flex;
        flex-direction: row;
        padding-left: 4em;
        padding-top: 0.5em;
        
    }
    
    .dados-funcionario-header{
        display: flex;
        flex-direction: column;
        gap: 0.8em;
        padding-top: 0.5em;
        padding-left: 0.5em;
        
    }
    
    .imgs-cadas-consult{
        height: 30px;
        width: 30px;
    }
    
    .campo-imagem-funcionario{
    
        font-size: 10px;
        
    }
    .img-seta{
        
        height: 15px;
        width: 15px;
    }
    
    .img-seta-div{
        padding-top: 2em;
        padding-right: 0.3em;
    }
    
    .image-header{
        text-align: center;
        padding-top: 1em;
        border-radius: 80em;
        background-color: #B2B2B2;
        width: 3.5em;
        width: 3.5em;
    }
    
    .nome-funcionario{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        color: #f0f0f0;
        font-size: 14px;
        
    }
    
    .status-funcionario{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 19px;
    
        color: #B2B2B2;
    
    }
    
    .dahsboard-lateral{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #111112;
        width: 155px;
        height: 100vh;
        padding-top: 2em;
        
    }
    
    .linha-divisoria{
        width: 70%;
        background-color: #B2B2B2;
        height: 1;
    }
    
    .cadastro-consulta{
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: center;
        margin-top: 0.5em;
    
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        color: #f0f0f0;
        font-size: 15px;
        cursor: pointer;
    }
    
    .caixa-entrada > input {
        width: 20em;
        height: 2em;
        color: #000000 !important;
        padding: 0.8em 1.5em;
        
        
    
        background: #C4C4C4;
        border-radius: 80px;
        border: none;
    }
    
    .caixa-entrada{
        display: flex;
        flex-direction: row;
        
        padding-top: 0em;
        gap: 0.5em;
       
    }
    
    main{
        display: flex;
        flex-direction: row;
        
    }
    
    .dados-pesquisa > a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        color: #000000 !important;
        font-size: 14px;
        cursor: pointer;
    }
    
    .edit-delete-consult{
        height: 18px;
        width: 18px;
    }
    
    .dados-pesquisa{
        display: flex;
        flex-direction: row;
        
        padding-top: 2em;
        justify-content: space-between;
        gap: 2em;
    }
    
    .separa-cont-consulta{
        background-color: #B2B2B2;
    }
    
    .del-edit > button{
        cursor: pointer;
        border: none;
        background: none;
        margin-right: 0em;
    }
    
    .cadastro-consulta > a {
        color: #f0f0f0 !important;
    }
    
    .saida-landing{
        margin-left: 52em;
    }
    
    .img-saida{
        height: 30px;
        width: 30px;
    }
    
    .pesquisa-consulta{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        
        
    }
    .consulta-pesquisa{
        display: flex;
        flex-direction: column;
        max-width: 55em;
        padding-top: 2em;
    }
}