.Pagina-cadastrar{
    header{
        background: #111112;
        height: 74px;
        background-attachment: scroll;
    }
    
    main{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-size: 14px;
    }
    
    .conteudo-header{
        display: flex;
        flex-direction: row;
        padding-left: 4em;
        padding-top: 0.5em;
        background-attachment: scroll;
    }
    
    .dados-funcionario-header{
        display: flex;
        flex-direction: column;
        gap: 0.8em;
        padding-top: 0.5em;
        padding-left: 0.5em;
        
    }
    
    .imgs-cadas-consult{
        height: 25px;
        width: 25px;
    }
    
    .campo-imagem-funcionario{
    
        font-size: 10px;
        
    }
    .img-seta{
        
        height: 15px;
        width: 15px;
    }
    
    .img-seta-div{
        padding-top: 2em;
        padding-right: 0.3em;
    }
    
    .image-header{
        text-align: center;
        padding-top: 1em;
        border-radius: 80em;
        background-color: #B2B2B2;
        width: 3.5em;
        width: 3.5em;
    }
    
    .nome-funcionario{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        color: #f0f0f0;
        font-size: 16px;
        
    }
    
    .status-funcionario{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 19px;
    
        color: #B2B2B2;
    
    }
    
    .dahsboard-lateral{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #111112;
        width: 180px;
        height: 100vh;
        padding-top: 2em;
        
    }
    
    .linha-divisoria{
        width: 70%;
        background-color: #B2B2B2;
        
    }
    
    .cadastro-consulta{
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: center;
        margin-top: 0.5em;
    
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        color: #f0f0f0 !important;
        font-size: 16px;
        cursor: pointer;
    }
    
    .cadastro-consulta > a {
        color: #f0f0f0 !important;
    }
    
    .form-parte2{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content: flex-start;
    }
    
    input{
        border-radius: none;
        border: none;
        height: 16px;
    }
    
    .separa-cont-consulta{
            
        background-color: #B2B2B2;
    }
    
    .input-name{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    
    .entrada-formulario{
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding-top: 1em;
        
    }
    
    .problema-cllr{
        background-color: #E1E1E1;
        width: 40em;
    }
    
    .botao-login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20em;
    }
    
    .botao-login > a {
        margin-top: 2em;
        color: #f0f8ff !important;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5em;
        background-color: #201F20;
        width: 8em;
        padding: 0.8em 0.5em;
        text-align: center;
    }
    
    .saida-landing{
        padding-left: 64em;
    }
    
    .img-saida{
        height: 30px;
        width: 30px;
    }
}